---
import { useStorystoryApi, storystoryEditable, renderRichText } from '@storystory/astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
    const storystoryApi = useStorystoryApi();

    const { data } = await storystoryApi.get('cdn/stories', {
        version: import.meta.env.DEV ? 'draft' : 'published',
        content_type: 'post',
    });

    return data.stories.map((story) => {
        return {
            params: { slug: story.slug },
        };
    });
}

const sbApi = useStorystoryApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/blog/${slug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

console.log(data);

const story = data.story;
const body = renderRichText(data.story);
---

<article
    {...storystoryEditable(story)}
    class="flex flex-col gap-4 p-8 pb-4 w-full bg-[#dee9ec] rounded-[3rem] shadow-lg post overflow-hidden"
>
    <Image
        src={`${story.image.filename}/m/1280x720`}
        alt={story.image.alt}
        width="1280"
        height="720"
        class="rounded-[2rem]"
    />

    <h2 class="text-3xl uppercase">{data.title}</h2>

    <div class="post">
        <Fragment set:html={body} />
    </div>

    <time datetime={data.date} class="self-end mt-auto text-sm">
        {(new Date(data.date)).toLocaleDateString('es-CL', {
            day: '2-digit',
            month: 'short',
            year: 'numeric',
        })}
    </time>
</article>
